[apply]
  whitespace = nowarn

[user]
  name = Arthur Gehrke
  email = arthurgehrke07@gmail.com
[core]
  editor = nvim
  excludesfile = /Users/arthurgehrke/.gitignore
  autocrlf = input
  pager = nvimpager
  ; Alternativa: diff-so-fancy | less --tabs=4 -RFX

[pager]
  branch = false

[pull]
  rebase = true

[rebase]
  updateRefs = true
  autoStash = true
  autoSquash = true

[fetch]
  prune = true

[push]
  default = current
  autoSetupRemote = true

[branch]
  autosetuprebase = always

[diff]
  tool = nvimdiff
  algorithm = histogram
  prompt = false

[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"
  trustExitCode = true

[merge]
  tool = nvimdiff
  conflictStyle = zdiff3

[mergetool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" -c 'wincmd w' -c 'wincmd L'
  trustExitCode = true
  keepBackup = false
  prompt = false

[init]
  defaultBranch = main

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[color]
  ui = true

[npm]
  prefix = ~/.npm-global
