~
# Ignore everything by default.
# *

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bash*
.*.swp
.bash_history
.bash_local
.bash_logout

# Zsh
!.zshrc
#
# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore

!.tmux.config
!.tmux.powerline.conf

!.p10k.zsh

!.fzf.zsh

!.bashrc

!.shell_aliases
!.shell_scripts

!.config/nvim/*
!.config/alacritty/*

/Library/
!/.dotfiles/

/.ipython
/.psql_history
/.pyenv
/.pypirc
/.python-eggs
/.python_history

/.mysql_history
/.netrc
/.node_repl_history
/.npm
/.npmrc
/.offlineimap
/.pip

/.local
/.rbenv
/.rbx
/.rnd
/.rubies
/.rubinius_last_error
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.ssl
/.tailwindcss
/.thelongpoll
/.toot
/.tox
/.trc
/.vim-fuf-data
/.vim-tmp
/.vim/.netrwhist
/.vim/autoload/plug.vim.old
/.vim/plugged-backup
/.vim/plugged/
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.viper
/.wget-hsts
/.wine
/.wireshark
/.wireshark-etc
/.yarnrc
/.zcompdump
/.zsh_history
/.zsh_session
/.cache/*
/.cargo/*
/.zsh_sessions/*
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Gmail
/Library/*
/Movies
/Music
/Pictures
/Public
/Sites

/repositories
