; [include]
;     path = ~/.gitconfig.local
[user]
	user = arthurgehrke
	email = arthurgehrke07@gmail.com
	name = arthurgehrke
[github]
	user = arthurgehrke
[core]
	editor = nvim
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
