[apply]
  whitespace = nowarn

[user]
	user = arthurgehrke
	email = arthurgehrke07@gmail.com
	name = Arthur Gehrke

[github]
	user = arthurgehrke

[core]
	editor = nvim
	excludesfile = /Users/arthurgehrke/.gitignore
	; autocrlf = off
  autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX

[pager]
  diff = diff-so-fancy | less --tabs=4 -RFXS
  log = less -+X

[pull]
  rebase = off
  ff = only

[fetch]
	prune = true

[rebase]
  autosquash = true

[push]
  default = current
  autoSetupRemote = true

[branch]
  autosetuprebase = always

[color]
  ui = true

[diff]
  algorithm = patience
	compactionHeuristic = true
	tool = nvimdiff
  ignoreAllSpace = true

[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

; [difftool "nvimdiff"]
;   cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""

[merge]
  ; tool = nvimdiff
	tool = nvimdiff4
	prompt = false
  ff = only

[mergetool "nvimdiff4"]
  prompt = false
  keepBackup = false
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  ; cmd = nvim -d -u ~/.config/nvim/init.vim $BASE $REMOTE $LOCAL $MERGED -c '$wincmd w' -c 'wincmd J' -c '$wincmd w' -c 'wincmd k'
  ; cmd = nvim -d -u ~/.config/nvim/init.vim $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J' -c 'wincmd k'
  ff = only

[mergetool]
	keepBackup = false

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[url "git@gitlab.com:doare/api-v2.git"]
  insteadOf = https://gitlab.com/

[interactive]
	diffFilter = diff-so-fancy --patch

[credential]
	helper = osxkeychain

[alias]
  gl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  gr = log --color=always --all --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset'
  gs = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  gw = log --no-merges --raw --since='4 weeks ago'
  fl = log --follow -p --
  rl = shortlog --no-merges --format='%Cgreen%h%Creset %s'

  merge = merge --no-ff
  up = merge --ff-only
[icdiff]
	options = --highlight --line-numbers
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
