auto-install-peers=true
enable-pre-post-scripts=true
engine-strict=false
http-proxy=http://proxyhost/:proxyport
prefer-frozen-lockfile=true
prefer-workspace-packages=true
prefix=~/.npm-global
registry=https://registry.npmjs.org/
resolve-peers-from-workspace-root=true
strict-peer-dependencies=true
strict-ssl=false
legacy-peer-deps=true
cache=/Users/arthurgehrke/.npm-global/cache
