http-proxy=http://proxyhost/:proxyport
registry=http://registry.npmjs.org/
strict-ssl=false

prefer-workspace-packages = true
prefer-frozen-lockfile=true
strict-peer-dependencies=true
auto-install-peers=true

# When enabled, dependencies of the root workspace project are used to resolve peer dependencies of any projects in the workspace. It is a useful feature as you can install your peer dependencies only in the root of the workspace, and you can be sure that all projects in the workspace use the same versions of the peer dependencies.
resolve-peers-from-workspace-root=true
enable-pre-post-scripts=true

engine-strict=false

# use-node-version=20.0.0
