http-proxy=http://proxyhost/:proxyport
registry=http://registry.npmjs.org/
strict-ssl=false
prefer-workspace-packages=true
prefer-frozen-lockfile=true
strict-peer-dependencies=true
auto-install-peers=true
resolve-peers-from-workspace-root=true
enable-pre-post-scripts=true
engine-strict=false
node_gyp=/usr/local/lib/node_modules/node-gyp/bin/node-gyp.js
prefix=/Users/arthurgehrke/.npm-packages
